.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(102, 13, 13, 0.1);
    background-color: white;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: rgb(102, 13, 13);
    color: white;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.correct{
    background-color: #28a745;
}

.incorrect{
    background-color: #dc3545;
}

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.text-main-text{
    text-align: center;
}

#progress-bar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid rgb(102, 13, 13) ;
    margin-top: 1rem;

}

#progress-bar-full{
    height: 3.5rem;
    width: 0%;
    background-color:rgb(102, 13, 13)  ;
}

#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid rgb(102, 13, 13);
    width: 12rem;
    height: 12rem;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}